Assignment-5/Assignment-5/Service References/MyService/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar16.fulton.asu.edu/Page6/MyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar16.fulton.asu.edu/Page6/MyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar16.fulton.asu.edu/Page6/MyService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_GetForecast_InputMessage">
    <wsdl:part name="parameters" element="tns:GetForecast" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetForecast_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetForecastResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetCoordinates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCoordinates" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetCoordinates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoordinatesResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetDistanceByCoordinates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistanceByCoordinates" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetDistanceByCoordinates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistanceByCoordinatesResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetDistanceByAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDistanceByAddress" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetDistanceByAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDistanceByAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetOperations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperations" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetOperations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="GetForecast">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetForecast" message="tns:IMyService_GetForecast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetForecastResponse" message="tns:IMyService_GetForecast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCoordinates">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetCoordinates" message="tns:IMyService_GetCoordinates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetCoordinatesResponse" message="tns:IMyService_GetCoordinates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistanceByCoordinates">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetDistanceByCoordinates" message="tns:IMyService_GetDistanceByCoordinates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetDistanceByCoordinatesResponse" message="tns:IMyService_GetDistanceByCoordinates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDistanceByAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetDistanceByAddress" message="tns:IMyService_GetDistanceByAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetDistanceByAddressResponse" message="tns:IMyService_GetDistanceByAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperations">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetOperations" message="tns:IMyService_GetOperations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetOperationsResponse" message="tns:IMyService_GetOperations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetForecast">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetForecast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCoordinates">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetCoordinates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistanceByCoordinates">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetDistanceByCoordinates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistanceByAddress">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetDistanceByAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperations">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetOperations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://webstrar16.fulton.asu.edu/Page6/MyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>