Assignment-5/Assignment-5/Service References/MyService/MyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar16.fulton.asu.edu/Page6/MyService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetForecast">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForecastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetForecastResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCoordinatesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistanceByCoordinates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lat1" type="xs:double" />
        <xs:element minOccurs="0" name="lng1" type="xs:double" />
        <xs:element minOccurs="0" name="lat2" type="xs:double" />
        <xs:element minOccurs="0" name="lng2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistanceByCoordinatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDistanceByCoordinatesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistanceByAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistanceByAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDistanceByAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOperationsResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>