Assignment-5/UnitTestProject/Service References/XmlAccess/XmlAccessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="XmlAccessService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57755/XmlAccessService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57755/XmlAccessService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IXmlAccessService_AuthenticateMember_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateMember" />
  </wsdl:message>
  <wsdl:message name="IXmlAccessService_AuthenticateMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IXmlAccessService_AuthenticateStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateStaff" />
  </wsdl:message>
  <wsdl:message name="IXmlAccessService_AuthenticateStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateStaffResponse" />
  </wsdl:message>
  <wsdl:message name="IXmlAccessService_RegisterMember_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMember" />
  </wsdl:message>
  <wsdl:message name="IXmlAccessService_RegisterMember_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMemberResponse" />
  </wsdl:message>
  <wsdl:message name="IXmlAccessService_RegisterStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStaff" />
  </wsdl:message>
  <wsdl:message name="IXmlAccessService_RegisterStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStaffResponse" />
  </wsdl:message>
  <wsdl:portType name="IXmlAccessService">
    <wsdl:operation name="AuthenticateMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IXmlAccessService/AuthenticateMember" message="tns:IXmlAccessService_AuthenticateMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXmlAccessService/AuthenticateMemberResponse" message="tns:IXmlAccessService_AuthenticateMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IXmlAccessService/AuthenticateStaff" message="tns:IXmlAccessService_AuthenticateStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXmlAccessService/AuthenticateStaffResponse" message="tns:IXmlAccessService_AuthenticateStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterMember">
      <wsdl:input wsaw:Action="http://tempuri.org/IXmlAccessService/RegisterMember" message="tns:IXmlAccessService_RegisterMember_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXmlAccessService/RegisterMemberResponse" message="tns:IXmlAccessService_RegisterMember_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/IXmlAccessService/RegisterStaff" message="tns:IXmlAccessService_RegisterStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IXmlAccessService/RegisterStaffResponse" message="tns:IXmlAccessService_RegisterStaff_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IXmlAccessService" type="tns:IXmlAccessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateMember">
      <soap:operation soapAction="http://tempuri.org/IXmlAccessService/AuthenticateMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateStaff">
      <soap:operation soapAction="http://tempuri.org/IXmlAccessService/AuthenticateStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterMember">
      <soap:operation soapAction="http://tempuri.org/IXmlAccessService/RegisterMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterStaff">
      <soap:operation soapAction="http://tempuri.org/IXmlAccessService/RegisterStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XmlAccessService">
    <wsdl:port name="BasicHttpBinding_IXmlAccessService" binding="tns:BasicHttpBinding_IXmlAccessService">
      <soap:address location="http://localhost:57755/XmlAccessService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>